.body{
margin: 0;
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

h1,h2,h3,h4{
    margin: 0;
}
p{
    margin: 0;
}
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}
.container{
max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    gap: 24px;
}
a {
    text-decoration: none;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
img {
    display: block;
    max-width: 100%;
}
 /* < !-- header --> */
 .header-container {
     display: flex;
     align-items: center;
    border-bottom: 1px solid #E7E9FC;
    }

 .logotype-header-fiol{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
        text-decoration: none;
margin-top: 24px;
margin-bottom: 24px;
 }
 .logotype-header-black{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;

 }
 /* navigation */
nav {
    display: flex;
    gap: 40px;
}
.ul-list-navigation{
margin-left: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
display: flex;
align-items: center


}
.navigation{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        align-items: center;
        padding-left: 40px;
}
.navigation:hover{
font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.navigation:focus{
    color: #404bbf;
}




/* contacts */
.adress{
    font-style: normal
}
.ul-list-adress {
    display: flex;
    list-style-type: none;
    margin-top: 24px;
    margin-left: 332px;
    margin-bottom: 24px;
}
.mail-and-number{
    font-family: "Roboto",
            sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        padding-left: 40px;
    }

.mail-and-number:hover{
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;

}
.mail-and-number:focus{
        color: #404bbf;
}


/* main-content */
.first-section{
    background-color:#2e2f42;
    height: 600px;
}
.h-one{
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-top: 68px;
    padding-left: 316px;
    padding-right: 316px;
}
.button{
     background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        margin-top: 48px;
        margin-left: 480px;
        margin-right: 479px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        white-space: nowrap;
}
.button:hover{
background-color: #404BBF;
}
.button:focus{
background-color: #404BBF;
}
/* features */
.h-two-features{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
       padding-left: 483px;
       padding-right: 483px;
       text-align: center;
}
.ul-list-features{
        display: flex;
        list-style-type: none;
        text-align: left;
}
.li-list-features{
 padding-left: 24px;
 margin-top: 72px;
}
.li-list-features:first-child{
    padding-left: 0;
}
.h-three-features{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-features{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
}

/* our-team */
.section-our-team{
        background-color: #f4f4fd;
            height: 732px;
}
.h-two-our-team{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.ul-list-our-team{
        list-style-type: none;
        display: flex;
gap: 24px;
align-items: center;
}
.h-three-our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    text-align: center;
}

.p-our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
}
.li-photo-our-team{
            margin-top: 72px;
            margin-left: 24px;
            background-color: #fff;
}
.li-photo-our-team:first-child{
    padding-left: 0;
}

/* our-portfolio */
.h-two-potfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
}
.ul-list-our-potfolio{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        margin-top: 72px;
}


.h-three-portfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;   
        margin-top: 32px;
        padding-left: 16px;
}
.p-potfolio{
    margin-top: 8px;
    padding-left: 16px;
}
.photo-banking-app{
border-bottom: 1px #FFFFFF;
}
.photo-cashless-payment {
    padding-left: 24px;
    border-bottom: 1px #FFFFFF;
}
.photo-meditation-app{
    padding-left: 24px;
    border-bottom: 1px #FFFFFF;
}
.photo-taxi-service{
    margin-top: 48px;
        border-bottom: 1px #FFFFFF;
}
.photo-screen-illustrations{
margin-top: 48px;
    padding-left: 24px;
        border-bottom: 1px #FFFFFF;

}
.photo-online-courses{
    margin-top: 48px;
    padding-left: 24px;
        border-bottom: 1px #FFFFFF;
}
/* footer-content */
.footer{
        background: #2e2f42;
        padding: 100px;
}
.logotype-footer-fiol{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 100px;
        color: #4d5ae5;
}
.logotype-footer-white{
font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    padding-top: 100px;
}
.p-footer{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin-top: 16px;
        width: 264px;
}
